@import '../../styles.scss';

h2 {
  font-family: 'Open Sans SemiBold', sans-serif;
  color: $main-font;
  font-size: 1.3125rem;
}

h5 {
  font-family: 'Open Sans Regular', sans-serif;
  color: $main-font;
  font-size: 0.9375rem;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

// table
.header-align-right {
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

td {
  font-family: 'Open Sans SemiBold', sans-serif;
}

.mat-header-cell {
  color: #9ca7d3;
}

.mat-cell {
  font-size: 0.8125rem;
  color: $main-font;
}

td.mat-cell:last-of-type {
  text-align: end;
}

td.mat-cell:nth-of-type(1) {
  width: 300px;
  min-width: 205px;
}

td.mat-cell:nth-of-type(2) {
  min-width: 85px;
}

.online .offline .reboot {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-size: 0.75rem;
}

.online {
  color: #24a1a9;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 19px;
    width: 7px;
    height: 7px;
    border-radius: 7.5px;
    background: #24a1a9;
  }
}

.offline {
  color: $main-font;
  position: relative;
  &::before {
    content: '\f00d';
    position: absolute;
    left: -20px;
    top: 17px;
    font: normal normal normal 14px/1 FontAwesome;
    height: 5px;
    color: #ea5885;
  }
}

.reboot {
  color: #9ca7d3;
  position: relative;
  &::before {
    content: '...';
    position: absolute;
    left: 80px;
    top: 14px;
    color: #9ca7d3;
  }
}

//search
.form-control {
  width: auto;
  color: #a9aec1;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 0.875rem;
  border: 2px solid #d4d7e1;
  background-color: #f2f3f6;
  border-radius: 20px;
  padding-left: 49px;
  margin-bottom: 1rem;
}

input::placeholder {
  color: #a9aec1;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(125, 130, 247, 0.25);
}

div {
  position: relative;
}

i {
  position: absolute;
  padding-top: 10px;
  padding-left: 14px;
  color: #a9aec1;
}

i:hover {
  cursor: pointer;
}
