<div class="flex-container">
  <div>
    <h2>Servers</h2>
    <h5>Number of elements: {{ serverQuantity }}</h5>
  </div>
  <div>
    <i class="fas fa-search" aria-hidden="true"></i>
    <input
      #input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
      (keyup)="applyFilter($event)"
    />
  </div>
</div>

<table mat-table #table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let server">{{ server.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let server">{{ server.name }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>STATUS</th>
    <td
      mat-cell
      *matCellDef="let server"
      [ngClass]="{
        online: server.status === 'ONLINE',
        offline: server.status === 'OFFLINE',
        reboot: server.status === 'REBOOTING'
      }"
    >
      {{ server.status }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let server">
      <app-select-menu [currentServer]="server"></app-select-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
