<mat-form-field
  ><span>...</span>
  <mat-select>
    <mat-option
      *ngFor="let status of statuses"
      [value]="status.value"
      (click)="onStatusChange(status.value)"
    >
      {{ status.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
