@import '../../../styles.scss';

mat-form-field {
  width: 32px;
  height: 32px;
  position: relative;
}

mat-form-field:hover {
  background: #F2F3F6;
  border: 1px solid transparent;
  border-radius: 100%;
}

mat-select {
  visibility: hidden;
}

:host ::ng-deep span {
  position: absolute;
  right: 6px;
  bottom: 17px;
  font-size: 1.4rem;
  color: $main-font;
}

:host ::ng-deep .mat-form-field-underline {
  width: 0 !important;
}
