@import '../../styles.scss';

nav {
  margin-bottom: 2rem;
}

.navbar-brand {
  border-right: 2px solid #757b8f;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  margin: 10px 0;
}

.navbar-brand::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  -moz-border-radius: 8.5px;
  -webkit-border-radius: 8.5px;
  border-radius: 8.5px;
  border: 2px solid #7d82f7;
  background-color: transparent;
  margin: 0 15px 2px 0;
  vertical-align: middle;
}

.bg-primary {
  background-color: $main-font !important;
}
